* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 100vh;
}

[class^="box"] {
    background-color: #000;
    height: 23vh;
}

.box1 {
    width: 99%;
}

.box-1-of-2 {
    width: 49%;
}

.box-1-of-3 {
    width: 32.25%;
}

.box-1-of-4 {
    width: 24%;
}

@media screen and (max-width: 480px) {}

<<<<<<< HEAD
@media screen and (min-width: 768px) {}
=======
@media screen and (max-width: 768px) {}
>>>>>>> tablet
